/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: 'Josefin Sans';
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/


html {
  scroll-behavior: smooth;
}

body {
  margin: 0 20px;
  padding: 0 30px 0 30px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

@media (max-width: 768px) {
  body {
    margin: 0 20px;
  padding: 0 0 0 0px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);

  }
}

@media (max-width: 400px) {
  body {
    margin: 0 20px;
  padding: 0 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);

  }
}


h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5; 
}


/*===== LAYOUT =====*/
.bd-grid {
   position: sticky;
    top: 0;
    background-color: #ffffff;
    padding-right: 0px;
    padding-left:  0 px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.l-header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  height: 100px;
  
}

/*===== NAV =====*/
.nav {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  padding-top: 30px;
}

@media screen and (max-width: 877px) {
  .nav__menu {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: #ffffff;
    transition: .3s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #000000;
  font-size: 19px;
  
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  top: 2rem;
  background-color: #333333;
}

.nav__logo {
  color: #333333;
}

.nav__toggle {
  color: #333333;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 99;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  top: 2rem;
  background-color: #333333;
}

/*=== Show menu ===*/
.show {
  right: 0;
  z-index: 98;
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 877px) {
  
 .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
    align-items: center;
  }
  .nav__item {
    margin-left: 40px;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
}

.nav__title {
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 0px;
    white-space: nowrap;
}
    .nav__subtitle {
    font-size: 12px;
    color: #000000;
    margin: 0;
   white-space: nowrap;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .nav__title {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 0px;
    white-space: nowrap;
  }
  }
  @media (max-width: 400px) {
    .nav__title {
      font-weight: 400;
      font-size: 22px;
      color: #000000;
      margin: 0;
      margin-bottom: 8px;
      margin-top: 10px;
      padding-top: 10px;
      padding-left: 0px;
      white-space: nowrap;
    }
    }
  

@media (max-width: 1000px) {
.nav__subtitle {
  font-size: 10px;
  color: #000000;
  margin: 0;
 white-space: nowrap;
margin-bottom: 10px;
}
}
@media (max-width: 400px) {


.nav__subtitle {
  font-size: 8px;
  color: #000000;
  margin: 0;
 white-space: nowrap;
margin-bottom: 10px;
}

}

/*------icon-------*/



/* Styling for the icon */

.nav__icon {
    color: #333333; 
    font-size: 1.2rem;
}



/*CSS*/

.empty-space {
  height: 10px;
}

p {
  font-weight: 300; 
}




.main-container {
  display: flex;
  flex-wrap: wrap; 
}

.about-container{
  display: flex;
  flex-wrap: wrap;  
}

.video-container {
   flex: 1; 
   max-width: 700px; 
   margin-right: 30px; 
   padding-bottom: 20px;
   padding-left: 0px;
}


.video-wrapper {
   position: relative;
   padding-bottom: 56.25%; 
   height: 0;
   overflow: hidden;
   max-width: 100%;
}

.video-wrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.text-container {
   flex: 1; 
   max-width: 560px; 
   padding-bottom: 20px;
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 20px;
}

.text-container h3,
.text-container h4 {
   margin-bottom: 10px; 
}

.text-container p {
   margin-bottom: 20px; 
}

.grid-container {
  flex: 1; 
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-auto-rows: min-content;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.grid-item {
  width: 100%;
  max-width: 100%;
  position: relative;
            display: inline-block;
}

.text-overlay {

            position: absolute;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            color: white; 
            font-size: 16px; 
            font-weight: 700; 
            padding: 5px 10px; 
            white-space: nowrap;

}


.grid-item:hover .text-overlay {
  display: none;
}

@media (max-width: 800px) {
  .text-overlay {
      font-size: 14px;
  }
}

/* Reduce font size for screens smaller than 400px */
@media (max-width: 400px) {
  .text-overlay {
      font-size: 12px;
  }
}



img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 768px) {
  /* For screen width 768px or less, change the grid to 2 columns */
  .grid-container {
      grid-template-columns: repeat(2, minmax(0,1fr));
      padding-left: 0px;
     padding-right: 0px;
      padding-bottom: 10px;
  }
  .video-container{
    flex: 0 0 100%;
     padding-bottom: 20px;
     padding-left: 0px;
     padding-right: 0px;
     margin-right: 20px;
     max-width: 100%;
  }
  .text-container {
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
    max-width: 100%;
 }
}

@media (max-width: 400px) {
  /* For screen width 480px or less, change the grid to 1 column */
  .grid-container {
      grid-template-columns: repeat(1, minmax(0,1fr));
      padding-left: 0px;
     padding-right: 0px;
      padding-bottom: 5px;
  }
  .video-container{
    flex: 0 0 100%;
     padding-bottom: 20px;
     padding-left: 0px;
     margin-right: 20px;
  }
  .text-container {
    padding-bottom: 20px;
    padding-left: 0px;
    margin-right: 20px;
 }
}


/* Media Queries for different screen sizes */
@media (max-width: 1000px) {
  .l-header {
   padding-right: 10px;
   padding-left: 0px;
  }
}

@media (max-width: 400px) {
  .l-header {
   padding-right: 5px;
   padding-left: 0px;
  }
}
